body {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: black;
  color: white;
  font-size: 110%;
}

h1{
  font-size: 400px;
  text-align: center;
  text-shadow: 2px 2px gray;
}

/* mouse over link */
a:hover {
  color: gainsboro;
}
a{
  color: cornsilk;
}

footer{
  left: 5%;
  bottom: 0;
  position: fixed;
  color: gray;
  width: 90%;
  text-align: center;
  font-size: 15px;
}

.movingItem{
  position: relative;
  animation-name: shake;
  animation-duration: 4s;
  animation-delay: 10s;
}

@keyframes shake{
  0% {left:0;}
  50% {left:20%;}
  100% {left:0;}
}
